.typewriter h1 {
  font-family: 'Baloo Bhai 2', cursive;
  color: blanchedalmond;
  font-size: 28px;
  border-right: solid 3px rgba(0,255,0,.75);
  letter-spacing: 0.4rem;
  overflow: hidden;
  white-space: nowrap;
}

.typewriter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

body {
  background-color: #262323;
  height: 100vh;
}

h1 {
  animation: 
  animated-text 2s steps(29,end) 1s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 280px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}